{% extends "quiz/base.html" %}

{% block app %}
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Опросы</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <ul class="list-group">
                {% for quiz in quizzes %}
                    <li class="list-group-item">
                        <a href="{% url 'quiz_detailed' quiz.uuid %}">{{ quiz.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
